/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		globals.scss
	PURPOSE:	global classes and variables
	@author:	dan moe & chris grace

	CODEMAP:
	---------------------------------------------------------------------
	^1 COLOUR VARIABLES
	^2 SPACING VARIABLES
	^3 GLOBAL CLASSES

/************************************************************************/

// ^1 COLOUR VARIABLES
//-----------------------------------------------------------------------/

// DARK BLUE
$primary : #00172C;

// LIGHT BLUE
$secondary : #7A96BA;
$secondary-med : lighten($secondary,15%);

// GREY
$neutral : #6E707F;
$neutral-dark : lighten(#000,70%);
$neutral-med : lighten(#000,90%);
$neutral-light : lighten(#000,95%);


// ^2 SPACING VARIABLES
//-----------------------------------------------------------------------/

$stickyHeight : 220px; // value for sticky footer
$pad : 1em;


// ^3 GLOBAL CLASSES
//-----------------------------------------------------------------------/

a {
	text-decoration : none !important;
}

.img-responsive {
	max-width : none;
	width : 100%;
}

.social {
	a {
		display : block;
		background : $secondary;
		padding : $pad/2;
		@include transition();

		i {
			display : block;
			font-size : 1.5em;
			color : #FFF;
		}

		&:hover {
			background : $neutral;
		}
	}
}

.btn-default {
	border : none;
	color : #FFF;
	text-transform : uppercase;
	@include vendor-prefix(border-radius, 0);
	@include transition();
	background : $secondary;

	&:hover {
		color : #FFF;
		background : $primary;
	}
}

.arrow {
	display : block;
	position: absolute;
	height : 55px;
	width : 55px;
	@include transition();

	&.up {
		@include get-arrow('up');
		&.dark {
			@include get-arrow('up', 'dark');
		}
	}

	&.down {
		@include get-arrow('down');
		&.dark {
			@include get-arrow('down', 'dark');
		}
	}

	&.left {
		@include get-arrow('left');
		&.dark {
			@include get-arrow('left', 'dark');
		}
	}

	&.right {
		@include get-arrow('right');
		// &.dark {
		// 	@include get-arrow('right', 'dark');
		// }
	}

	&.single {
		&:hover {
			background-color : $primary;
		}
	}

	&.crosshair {
		@include get-sprite(-361px,0);
	}
}

.slick-dots {

	a {
		color : $secondary;
		@include transition();

		&:hover {
			cursor: pointer;
			color : #FFF;
		}
	}

	.slick-active a {
		color : #FFF;
	}
}

.slick-arrow {
	position : absolute;
	top :0;
	z-index : 1;
	width : 15%;
	height : 100%;
	border : none;
	background : transparent;
	text-indent : -9999px;
	overflow : hidden;
	@include transition();

	&:after {
		content : '';
		display : block;
		position : absolute;
		left : 1em;
		height : 50px;
		width : 50px;
		@include get-arrow('left');
		@include transition();
	}

	&.slick-next {
		right : 0;
		&:after {
			left : auto;
			right : 1em;
			@include get-arrow('right');
		}
	}

	&:hover {
		&:after {
			background-color : $primary;
		}
	}
}
