/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		globals.scss
	PURPOSE:	global classes and variables
	@author:	dan moe & chris grace

	CODEMAP:
	---------------------------------------------------------------------
	^1 COLOUR VARIABLES
	^2 SPACING VARIABLES
	^3 GLOBAL CLASSES

/************************************************************************/

// ^1 COLOUR VARIABLES
//-----------------------------------------------------------------------/

// DARK BLUE
$primary : #00172C;

// LIGHT BLUE
$secondary : #7A96BA;
$secondary-med : lighten($secondary,15%);

// GREY
$neutral : #6E707F;
$neutral-dark : lighten(#000,70%);
$neutral-med : lighten(#000,90%);
$neutral-light : lighten(#000,95%);


// ^2 SPACING VARIABLES
//-----------------------------------------------------------------------/

$stickyHeight : 220px; // value for sticky footer
$pad : 1em;


// ^3 GLOBAL CLASSES
//-----------------------------------------------------------------------/

a {
	text-decoration : none !important;
}

.img-responsive {
	max-width : none;
	width : 100%;
}

.color-bg {
	background : $secondary;
}

.social {
	a {
		display : block;
		background : $secondary;
		padding : $pad/2;
		@include transition();

		i {
			display : block;
			font-size : 1.5em;
			color : #FFF;
		}

		&:hover {
			background : $neutral;
		}
	}
}

.btn-default {
	border : none;
	color : #FFF;
	text-transform : uppercase;
	@include vendor-prefix(border-radius, 0);
	@include transition();
	background : $secondary;

	&:hover {
		color : #FFF;
		background : $primary;
	}
}

.arrow {
	display : block;
	position: absolute;
	height : 55px;
	width : 55px;
	border-bottom : none !important;
	@include transition();

	&.up {
		@include get-arrow('up');
		&.dark {
			@include get-arrow('up', 'dark');
		}
	}

	&.down {
		@include get-arrow('down');
		&.dark {
			@include get-arrow('down', 'dark');
		}
	}

	&.left {
		@include get-arrow('left');
		&.dark {
			@include get-arrow('left', 'dark');
		}
	}

	&.right {
		@include get-arrow('right');
		&.dark {
			@include get-arrow('right', 'dark');
		}
	}

	&.single {
		&:hover {
			//background-color : $primary;
			opacity: 0.5;
		}
	}

	&.crosshair {
		@include get-sprite(-361px,0);
	}
}

.slick-dots {
	position : relative;
	z-index : 100;
	padding : 0 $pad;
	text-align : left;

	li {
		display : inline-block;
		margin-right : 1em;

		&.slick-active button {
			border-color : $neutral-dark;
			color : $neutral-dark;
		}

		button {
			height : 30px;
			width : 30px;
			padding : 0;
			border : 2px solid $secondary;
			background : transparent;
			color : $secondary;
			@include transition();

			&:hover {
				color : #FFF;
				background : $secondary;
				border-color : $secondary;
			}
		}

	}

	a {
		color : $secondary;
		@include transition();

		&:hover {
			cursor: pointer;
			color : #FFF;
		}
	}

	.slick-active a {
		color : #FFF;
	}

	header & {
		margin-bottom : $pad*2;
	}
}

.slick-arrow {
	// Main homepage slider
	position : absolute;
	top :0;
	z-index : 1;
	width : 50px;
	height : 100%;
	border : none;
	background : transparent;
	text-indent : -9999px;
	overflow : hidden;
	@include transition();

	&:after {
		content : '';
		display : block;
		position : absolute;
		left : 1em;
		height : 50px;
		width : 50px;
		@include get-arrow('left');
		@include transition();
	}

	&.slick-next {
		right : 0;
		&:after {
			left : auto;
			right : 1em;
			@include get-arrow('right');
		}
	}

	&:hover {
		&:after {
			//background-color : $primary;
			//border : 1px solid #FFF;
			opacity: 0.5;
		}
	}

	// Portfolio slider on the Jets pages
	.portfolio-slider & {
		width : 20px;

		&:after {
			background-color : #000;
			top : 45%;
			left : 0;
			height : 20px;
			width : 20px;
			@include get-sprite(-364px,-72px);
		}

		&.slick-next:after {
			left : auto;
			right : 0;
			@include get-sprite(-392px,-72px);
		}

		&:hover:after {
			background-color : $neutral;
		}
	}

	// Portfolio slider on the Chopper pages
	.chopper-slider &,
	.page-template-news & {
		width : 50px;

		&:after {
			top : 40%;
			left : 0;
			right : 0;
		}

		&.slick-next {
			right : -11%;
			@include respond-to(small) {
				right : -5%;
			}

			&:after {
				@include get-arrow('right', 'dark');
			}
		}
		&.slick-prev {
			left : -11%;
			@include respond-to(small) {
				left : -5%;
			}

			&:after {
				left : 10px;
				@include get-arrow('left', 'dark');
			}
		}
	}

	// News slider arrow positioning
	.page-template-news & {

		&:after {
			top : 8%;

			@include respond-to(small){
				top : 11%;
			}

			@include respond-to(medium){
				top : 15%;
			}

			@include respond-to(large){
				top : 18%;
			}

			@include respond-to(xlarge){
				top : 25%;
			}
		}
	}
}

form {
	padding-bottom : $pad;

	fieldset {
		padding : 0 !important;

		&.checklist {
			padding-top : $pad !important;
			padding-bottom : $pad !important;
			clear : both;
		}

		&.pad-right {
			@include respond-to(small) {
				padding-right : $pad !important;
			}
		}
	}

	input[type=text],
	input[type=email],
	input[type=number],
	input[type=date],
	input[type=tel] {
		border : none;
		margin-bottom : $pad;
		padding : $pad/2 $pad;
		height : 40px;
		margin-right : $pad;
		
	}

	label {
		color : #FFF;
		margin-right : $pad*4;
		font-weight : normal;
	}

	input[type=checkbox] {
		margin-right : $pad/2;
	}

	textarea {
		height : 150px;
		margin-bottom : $pad;
	}

	button[type=submit],
	input[type=submit] {
		padding : $pad/2 $pad;
		border : none;
		background : $primary;
		color : #FFF;
		text-transform: uppercase;
		@include transition();

		&:hover {
			background : $neutral;
		}
	}
}
