/************************************************************************\
  Magnus Aviation
  ---------------------------------------------------------------------
  MODULE:   mixins.scss
  PURPOSE:  text styles 
  @author:  dan moe & chris grace

  CODEMAP:
  ---------------------------------------------------------------------
  ^1 VENDOR PREFIXES
  ^2 MEDIA QUERY BREAKPOINTS
  ^3 TRANSITIONS
  ^4 GET SPRITE IMG SVG AND FALLBACK TO PNG
  ^5 SET FONT STYLE
  ^6 ARROW LINKS

/************************************************************************/


// ^1 VENDOR PREFIXES
//-----------------------------------------------------------------------/

@mixin vendor-prefix($name, $value) {
  -webkit-#{$name}: #{$value};
  -ms-#{$name}: #{$value};
  -moz-#{$name}: #{$value};
  -o-#{$name}: #{$value};
  #{$name}: #{$value};
}

// ^2 MEDIA QUERY BREAKPOINTS
//-----------------------------------------------------------------------/

@mixin respond-to($breakpoint, $inherit:true) {
  @if $breakpoint == 'small' and $inherit == true {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint == 'small' and $inherit == false {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint == 'medium' and $inherit == true {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == 'medium' and $inherit == false {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }

  @else if $breakpoint == 'large' and $inherit == true {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $breakpoint == 'xlarge' and $inherit == true {
    @media (min-width: 1400px) {
      @content;
    }
  }

  @else if $breakpoint == 'xxlarge' and $inherit == true {
    @media (min-width: 1600px) {
      @content;
    }
  }
}

// ^3 TRANSITIONS
//-----------------------------------------------------------------------/

@mixin transition($prop:'all', $time:0.5s){
  @include vendor-prefix(transition, $prop $time);
}

// ^4 GET SPRITE IMG SVG AND FALLBACK TO PNG
//-----------------------------------------------------------------------/

@mixin get-sprite($x:0, $y:0) {
  background-image : url('../img/sprite.png');
  background-repeat : no-repeat;
  background-position : $x $y;

  html.svg & {
    background-image : url('../img/sprite.svg');
  }
}

// ^5 SET FONT STYLE
//-----------------------------------------------------------------------/

@mixin futura($style:'book') {

  @if $style == 'book' {
    font-family: 'Futura LT W01 Book', helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  @else if $style == 'italic' {
    font-family: 'Futura LT W01 Book Oblique', helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  @else if $style == 'bold' {
    font-family: 'Futura LT W01 Bold', helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  @else if $style == 'bolditalic' {
    font-family: 'Futura LT W01 Bold Oblique', helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

}

// ^6 ARROW LINKS
//-----------------------------------------------------------------------/

@mixin get-arrow($direction, $color:'white') {
    @if $direction == 'up' {
      @if $color == 'dark'{
        @include get-sprite(-308px,-55px);
      } @else {
        @include get-sprite(-308px,0);
      }
    }
    @else if $direction == 'down' {
      @if $color == 'dark'{
        @include get-sprite(-252px,-55px);
      } @else {
        @include get-sprite(-252px,0);
      }
    }
    @else if $direction == 'left' {
      @if $color == 'dark'{
        @include get-sprite(-147px,-55px);
      } @else {
        @include get-sprite(-147px,0);
      }
    }
    @else if $direction == 'right' {
      @if $color == 'dark'{
        @include get-sprite(-198px,-55px);
      } @else {
        @include get-sprite(-198px,0);
      }
    }
}
