/************************************************************************\
	Magnus Aviation
	---------------------------------------------------------------------
	MODULE:		structure.scss
	PURPOSE:	core structure
	@author:	dan moe & chris grace

	CODEMAP:
	---------------------------------------------------------------------
	^1 BOOTSTRAP OVERRIDES
	^2 BASE STYLES
	^3 MASTHEAD
		^3a	Navigation wrapper
		^3b	Logo
		^3c	Navigation
	^4 GLOBAL FOOTER
	^5 PAGE – HOME
		^5a Hero image area
		^5b Home page content boxes
	^6 PAGE – SPLIT COLUMN HERO 
	^7 PAGE – GENERIC
	^8 PAGE – TEAM
	^9 PAGE – AIRCRAFT
		^9a Jets
		^9b Choppers
	^10 PAGE – NEWS
	^11 PAGE – CONTACT
	^12 PAGE – ENQUIRY

/************************************************************************/

/** DO NO EDIT THE MAIN .CSS FILES DIRECTLY. THE SKY WILL FALL DOWN!!! **/

// ^1 BOOTSTRAP OVERRIDES
//-----------------------------------------------------------------------/

// how burger menu on tablets
@include respond-to(small,false) {

	.navbar-header {
		float : none;
	}

	.navbar-toggle {
		display : block;
	}

	.navbar-collapse.collapse {
		display : none !important;
	}

	.collapse.in {
		display : block !important;
	}

	.row {
		margin : 0;
	}
}

// Set wider container widths
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media (min-width: 1710px) {
  .container {
    width: 1680px;
  }
}

.col-5 {
	@include respond-to(medium) {
		width : 20%;
	} 
}

// ^2 BASE STYLES
//-----------------------------------------------------------------------/

body {
	padding-top: 50px;

	@include respond-to(small) {
		padding-top: 0;
	}
}

// Make footer stick to bottom for screensizes > tablet
@include respond-to(medium) {
	html, body {
		margin : 0;
		height : 100%;
	}

	main {
		// height : 100%;
		// min-height: 100%;
		// height: auto !important;
		// margin: 0 auto (-$stickyHeight); 
	}

	// #push {
	// 	height : $stickyHeight;
	// }

	// #footer {
	// 	height : $stickyHeight; // height only, further styling below
	// }
}

#content {
	padding : $pad/2 $pad*1.5 $pad*6;

	@include respond-to(small) {
		padding : $pad*4 0 $pad*6;
	}
	
	.page & {
		padding-top : 0;
	}

}

#quick-contacts {
	position : fixed;
	right : 0;
	top : 100px;

	@include respond-to(small){
		top : 230px;
	}

	@include respond-to(medium){
		top : 209px;
	}

	ul {
		padding : 0;

		li {
			list-style : none;
			margin-bottom : 0.5em;

			a {
				display : block;
				width : 150px;
				position : relative;
				padding : $pad $pad $pad $pad*3.5;
				background : $neutral-light;
				color : $secondary;
				text-transform: uppercase;
				margin-left : 73%;
				@include transition();

				i {
					position : absolute;
					left : 0.3em;
					top : 0.3em;
					margin-right : 0.5em;
					font-size : 2em;
				}

				&:hover {
					margin-left : 0;
				}
			}
		}

	}
}

// ^3 MASTHEAD
//-----------------------------------------------------------------------/

// ^3a Navigation wrapper
.navbar {
	background : $primary;

	@include respond-to(small) {
		background : transparent;
		// margin-top : $pad*4;
		// padding : $pad $pad*2;
		// position : absolute;
		// z-index : 100;

		.page &,
		.page-template-contact &,
		.page-template-enquiry & {
			background : #FFF;
		}

		.inner {
			position : relative;
			background : $primary;
			margin-top : $pad*4;
			padding : $pad $pad*2 0.2em $pad*2;
		}
	}

	@include respond-to(medium) {
		.inner {
			padding : 0 $pad*2;
		}
	}


	.navbar-toggle {
		border : 0;

		&:hover,
		&:focus {
			background : none;
		}

		.icon-bar {
			@include transition();
		}

		&:hover .icon-bar {
			background : $secondary;
		}
	}

	.social {
		float : right;
		// display: inline-block;
		padding-top : 0.5em;
		margin-right :1em;

		@include respond-to(medium) {
			margin : 0.75em 0 0 1em;
		}
	}

	// return to flow on generic pages
	.page & {
		// position : relative;
		// position : relative;
		// margin-bottom: 0;
		// background : #FFF;
	}

	// scroll with page
	@include respond-to(small) {
		position : absolute;
	}
}

// ^3b Logo
.logo {
	@include get-sprite();

	&.touchscreen {
		background-position: top right;
		width : 55px;
	}

	&.desktop {
		background-position: top left;
		height : 120px;
		width : 150px;
		position : absolute;
		top : -$pad*2.5;
	}
}

// ^3c Navigation
#navbar {
	// mobile and up
	background : $neutral-med;
	max-height : none; //BS override

	> ul {
		padding : 0;
		//float : right;

		li {
			list-style : none;
		}

		> li {

			> a {
				display : block;
				padding : $pad;
				color : $primary;
				@include transition();
				border-top : 1px solid $neutral-med;
				border-bottom : 1px solid $neutral-med;
				text-transform: uppercase;

				&:after {
					content : '\003e'; // ISO greater than symbol
					float : right;
				}
			}

			&:hover > a {
				color : $secondary;
				border-top : 1px solid #FFF;
				border-bottom : 1px solid #FFF;
			}
		}

		// drop down
		ul {
			display : none;
			padding : $pad;
			background : $neutral-light;
			@include transition();

			li > a {
				display : block;
				padding : $pad/2;
				color : $primary;
				@include transition();

				&:before {
					content : '\003e'; // ISO greater than symbol
					float : left;
					margin-right : $pad/2;
				}

				&:hover {
					color : $secondary;
				}
			}
		}

		// show dd menu
		li:hover ul {
			display : block;
		}
	}

	// tablet only
	@include respond-to(small,false) {
		position : absolute;
		width : 100%;
		left: 0;
		top: 76px;
		padding : $pad;
	}

	// small desktop and up
	@include respond-to(medium) {
		float : right;
		background : none;

		> ul {
			margin : 0;
			float : right;

			> li {
				display : inline-block;
				
				> a {
					border : none;
					color : #FFF;
					position : relative;
					border : none !important;
					padding : $pad*2.25 $pad;

					&:after {
						content : '\002F'; // ISO forward slash
						position : absolute;
						right : -0.5em;
						color:  $neutral !important;
					}
				}

				&:last-of-type a:after {
					content : '';
				}

				// drop down
				ul {
					position: absolute;
					background : $neutral-med;
					padding : $pad/2;

					li a {
						text-transform: uppercase;

						&:before {
							float : right;
							margin-right: 0;
							margin-left : $pad;
						}
					}
				}
			}
		}
	}
}

// ^4 GLOBAL FOOTER
//-----------------------------------------------------------------------/

#footer {
	clear : both;

	.inner {
		padding : $pad ;
		background : $neutral-light;
	}

	.container {
		position : relative;

		.arrow {
			top : -9em;
			right : -0.45em;

			@include respond-to(small){
				right : 0.3em;
			}
			@include respond-to(medium){
				right : -1em;
			}
		}
	}

	ul {

		li {
			list-style : none;

			ul {
				padding : 0;
			}
		}
	}	
}

.footerlinks {
	margin-bottom :1em;
	padding : 0;

	.social {
		a {
			height : 30px;
			width : 30px;
			display : inline-block;
			padding : 0.3em;
			background : $neutral-dark;

			&:hover {
				background : $neutral;
			}
		}
	}
}

.legals {
	padding : $pad 0;
	ul, p {
		padding-left : 0;
	}
}


// ^5 PAGE – HOME
//-----------------------------------------------------------------------/

// ^5a Hero image area
.hero {
	position : relative;
	padding : 0;

	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include transition();
		width : 100%;

		@include respond-to(small) {
			top: 62%;
		}

		@include respond-to(medium) {
			top: 60%;
		}

		@include respond-to(xlarge) {
			top: 50%;
		}

		.btn-default {
			display: block;
			width : 150px;
			margin : 1em auto 0;

			@include respond-to(small) {
				margin-top: 4em;
			}
		}

		.arrow.single {
			right: 0;
			left: 0;
			margin: auto;

			@include respond-to(large){
				bottom : -30%;
			}

			@include respond-to(xlarge){
				bottom : -50%;
			}

			@include respond-to(xxlarge){
				bottom : -70%;
			}
		}

		.slick-dots {
			padding : 0;
			text-align : center;

			li {
				list-style : none;
				display : inline;
			}
		}
	}
}

// ^5b Home page content boxes

.homelinks {
	padding : $pad/4;

	.tile {
		position : relative;
		display : block;
		padding : $pad*1.5;
		background-color : $secondary-med;
		background-repeat : no-repeat;
		background-size : cover;
		background-position : center center;
		min-height : 180px;

		@include respond-to(small) {
			min-height : 300px;
		}

		@include respond-to(xlarge) {
			min-height : 400px;
		}

		.arrow {
			top : -1.5em;
			right : -1.5em;
			// @include transition();
		}

		&:hover .arrow {
			background-color : $secondary;
		}

		&.contact {
			background-color: $primary;
		}

		&.promo {
			background-color: $neutral;
		}

		.inner {
			position : relative;
			z-index: 10;
			min-height : 190px;

			@include respond-to(small) {
				min-height : 248px;
			}

			@include respond-to(xlarge) {
				min-height : 347px;
			}

		}

		.mask {
			position : absolute;
			z-index : 0;
			width : 100%;
			height : 100%;
			top : 0;
			left : 0;
			background : rgba($primary, 0.8);
			opacity: 0;
			@include transition();
		}

		&:hover .mask,
		&:focus .mask {
			opacity: 1;
		}
	}

	.social {
		padding-top : $pad;
		a {
			border : 1px solid #FFF;
			display : inline-block;
			width : 40px;
			background : transparent;

			i.fa-facebook:before {
				margin-left : 0.25em;
			}

			&:hover {
				background : $secondary !important;
			}
		}
	}
}

// ^6 PAGE – SPLIT COLUMN HERO 
//-----------------------------------------------------------------------/

.text-content {
	padding : $pad;
	padding-bottom : $pad*3;

	.page-template-two-col-vertical &,
	.page-template-two-col-vertical-bg & {
		@include respond-to(small) {
			padding : $pad*3;
			padding-bottom : $pad*6;
		}
	}

	.page & {
		padding : $pad*4 0;
	}

	.page-template-team & {
		padding : 0 0 $pad*4 0;
	}

	.page-template-aircraft &,
	.page-template-news & {
		padding-top : $pad*4;
	}
}

.text-content-footer {
	background : $neutral-med;
}

.text-content-footer .container {
	padding-top : $pad*3;
	padding-bottom : 0;

	> div &:last-of-type {
		padding-bottom : $pad*4;
	}

	@include respond-to(medium) {
		> div {
			padding : $pad*3;
		}
	}
}

.flex {
	@include respond-to(medium) {
		// display: -webkit-flex;
		// display: -ms-flexbox;
		// display: flex;
		display : table;
		height : 100%;
		width : 100%;
		overflow: hidden;
	}
}

.flex .col {
	background-size: cover;
	background-position: center;

	@include respond-to(medium) {
		//flex: 1;
		display : table-cell;
		height : 100%;
		margin-top : 9.35em;
	}
}

.left-col {
	min-height : 200px;
	background-size: cover;
	background-position: center;

	@include respond-to(small) {
		min-height : 300px;
		margin-top : 9.35em;
	}
}

// ^7 PAGE – GENERIC
//-----------------------------------------------------------------------/

.header {
	text-align : center;

	@include respond-to(small) {
		padding-top : $pad*8;
	}
}

div.intro {
	margin-bottom : $pad*2;
}

// ^8 PAGE – TEAM
//-----------------------------------------------------------------------/

.mosaic {
	padding-bottom : $pad*2;

	a {
		position : relative;
		display : block;

		.inner {
			position : absolute;
			width : 100%;
			height: 100%;
			padding : $pad;
			background : rgba($primary, 0.8);
			@include transition();
			opacity: 0;

			// @include respond-to(small){
			// 	padding-top : 40%;
			// }

			h6, p {
				color : #FFF;
			}

			.textwrap {
				@include centre();
				width : 90%;
			}
		}

		&:hover .inner {
			opacity: 1;
		}
	}
}

.staff-biog {
	padding-bottom : $pad;
}

// ^9 PAGE – AIRCRAFT
//-----------------------------------------------------------------------/

//^9a Jets
.portfolio {
	padding-bottom : $pad*2;
}

//^9b Choppers
.chopper-spec {
	position : relative;

	.inner {
		position : relative;

		.mask {
			position : absolute;
			width : 100%;
			height : 100%;
			padding : $pad;
			background : rgba($primary, 0.8);
			@include transition();
			opacity: 0;

			.textwrap {
				@include centre();
			}
		}
	}

	&:hover .mask {
		opacity: 1;
	}
}

// ^10 PAGE – NEWS
//-----------------------------------------------------------------------/

//.news-slider {

	.slick-dots {
		position : relative;
		z-index : 100;
		padding : 0 $pad;
		text-align : left;

		li {
			display : inline-block;
			margin-right : 1em;

			&.slick-active button {
				border-color : $neutral-dark;
				color : $neutral-dark;
			}

			button {
				height : 30px;
				width : 30px;
				padding : 0;
				border : 2px solid $secondary;
				background : transparent;
				color : $secondary;
				@include transition();

				&:hover {
					color : #FFF;
					background : $secondary;
					border-color : $secondary;
				}
			}

		}

		header & {
			margin-bottom : $pad*2;
		}
	}
//}

// ^11 PAGE – CONTACT
//-----------------------------------------------------------------------/

.page-template-contact {
	#content {
		// padding-bottom : $pad*8;
	}
}

.contact-details {
	> div {
		position : relative;

		> div, 
		> section {
			padding-bottom : $pad*2;
		}

		.textwrap {
			padding : $pad 0;
		}

		.address {
			@include respond-to(medium) {
				position : absolute;
				bottom : 100px;
				right : 0;
			}
			@include respond-to(large) {
				bottom : 84px;
			}
			@include respond-to(xlarge) {
				bottom : 68px;
			}
			@include respond-to(xxlarge) {
				bottom : 42px;
			}
		}
	}
}	

// ^12 PAGE – ENQUIRY
//-----------------------------------------------------------------------/

