/************************************************************************\
	Magnus Aviation
	---------------------------------------------------------------------
	MODULE:		typography.scss
	PURPOSE:	text styles 
	@author:	dan moe & chris grace

	CODEMAP:
	---------------------------------------------------------------------
	^1 GLOBAL TEXT STYLES
	^2 NAVIGATION
	^3 HOME PAGE HERO
	^4 GLOBAL FOOTER
	^5 PAGE – SPLIT COLUMN HERO
	^6 PAGE – TEAM / CONTACT
	^7 PAGE – AIRCRAFT (Portfolio)
		^7a Jets
		^7b Choppers
	^8 NEWS

/************************************************************************/

// ^1 GLOBAL TEXT STYLES
//-----------------------------------------------------------------------/

body {
	@include futura();
	color : $primary;
}

.browserupgrade {
	text-align : center;
	background : $secondary;
	color : #FFF;
	margin : 0;
	
	a {
		color : $primary;
	}
}

strong {
	@include futura('bold');
}

h1 {
	font-size : 3em;
	text-transform : uppercase;
	letter-spacing : 0.1em;
	padding-top : $pad*2;
	padding-bottom : $pad/2;
	border-bottom : 1px dotted $neutral-dark;

	.color-bg & {
		border-color : #FFF;
	}
}

h2 {
	font-size : 1.3em;
	font-style : italic;
	color : $secondary;
	margin-bottom : $pad*2;
}

h3 {
	.address & {
		margin-top: 0;
	}

	form & {
		text-transform: uppercase;
	}
}

h4 {
	font-size : 1.2em;
	line-height : 1.4em;
	margin-bottom : $pad;

	strong {
		@include futura('book');
		font-weight : normal;
		color : $secondary;
	}

	em {
		color : $secondary;
	}

	.text-content & {
		margin-top : 0;
	}
}

h5 {
	font-size : 1.2em;
	color : $secondary;
}

h6 {
	text-transform : uppercase;

	.mosaic & {
		font-size : 1em;
		padding-bottom : 0.5em;
		border-bottom : 2px dotted #FFF;

		@include respond-to(xlarge){
			font-size : 1.5em;
		}
	}
}

.text-content {
	p, li {
		font-size : 0.9em;
		color : $secondary;

		a {
			border-bottom : 2px solid;
			color : inherit;
			@include transition();

			&:hover {
				border-width : 1px;
				opacity: 0.5;
			}

			// #quick-contacts &,
			// &.arrow {
			// 	border-bottom : none;
			// }
		}
	}
}

p {
	margin-bottom : $pad*1.5;

	&.intro {
		font-size : 1.2em;
		color : #000;
	}
}

// ^2 NAVIGATION
//-----------------------------------------------------------------------/

.navbar {

	h2 {
		color : #FFF;
		font-size : 0.7em;
		font-style : italic;
		float : left;
		// margin-left : 1em;
		color : $secondary;

		@include respond-to(small) {
			margin-left : 160px;
			margin-top: 1.15em;
			font-size : 1em;
		}

		@include respond-to(medium) {
			margin-top: 2.2em;
		}

		@media (min-width: 993px) and (max-width: 1220px) {
			display : none;
		}
	}
}

// ^3 HOME PAGE HERO
//-----------------------------------------------------------------------/

.hero {

	h1, .slick-dots {
		text-align : center;
		letter-spacing : 0.3em;
		font-size : 2em;

		@include respond-to(small) {
			font-size : 5em;
		}

		@include respond-to(medium) {
			font-size : 8em;
		}

		@include respond-to(xlarge) {
			font-size : 10em;
		}
	}

	h2 {
		text-transform: uppercase;
		text-align : center;
		color : #FFF;
		letter-spacing : 0.1em;
		font-size : 1em;
		font-style : normal;
		margin : 0;

		@include respond-to(small) {
			font-size : 1.3em;
		}

		@include respond-to(medium) {
			font-size : 1.7em;
		}
	}
}

.homelinks {
	
	h3 {
		margin-top: 0;
		text-transform: uppercase;
		color : #FFF;
		font-size : 1.1em;
		letter-spacing: 0.1em;
		padding-right : $pad*3;
		position : relative;

		&:after {
			content : '';
			display : block;
			width : 30px;
			border : 1px dashed #FFF;
			margin-top : 1em;
		}

		@include respond-to(small) {
			font-size : 1.3em;
		}

		@include respond-to(xlarge) {
			font-size : 1.5em;
		}

	}

	p {
		position : absolute;
	    bottom: 0;
	    width: 90%;
	    color : #FFF;
		padding-bottom: 0;
		margin-bottom: 0;
		font-size : 0.8em;

		@include respond-to(small) {
			font-size : 1em;
		}

		@include respond-to(xlarge) {
			font-size : 1.2em;
		}
	}

	.tile > p {
		padding-bottom : 1.5em;
	}

	.contact {

		a {
			color : #FFF;
			@include transition();

			&:hover {
				color : $secondary;
			}
		}

		p span {
			&:first-of-type {
				margin-right : $pad/2;
			}

			&:last-of-type {
				display : block;
			}

			@include respond-to(small){
				display : block;
			}
		}
	}

	.quote-caption {
		display : block;
		padding-top : 0.6em;
		font-style: italic;
	}

}

// ^4 GLOBAL FOOTER
//-----------------------------------------------------------------------/

#footer {
	p {
		color : $neutral-dark;
		font-size: 0.8em;
		margin-bottom : 0;

		a {
			color : $neutral-dark;

			&:hover {
				color : $neutral;
			}
		}
	}
}

.footerlinks {

	li {
		line-height: 1em;

		a {
			// display : block;
			// padding : $pad;
			color : $neutral-dark;
			font-size : 0.8em;
			text-transform: uppercase;
			@include transition();

			&:hover {
				color : $neutral;
			}
		}

		ul {
			padding : 0.5em 0 !important;

			li {
				padding-left : 0.9em;
				position: relative;

				a {
					text-transform: none;

					&:before {
						content : '\003e'; // ISO greater than symbol
						position: absolute;
						left : 0;
						top : 0;
					}
				}
			}
		}
	}

	h4 {
		color : $neutral-dark;
		font-size : 0.8em;
		text-transform: uppercase;
		margin-top: 0;
	}
}

.legals {

	li {
		display : inline;
		font-size: 0.8em;

		a {
			color : $neutral-dark;
			padding : 0 $pad;
			position : relative;

			&:after {
				content : '\002F'; // ISO forward slash
				position : absolute;
				right : -0.3em;
				top : 0.05em;
				color:  $neutral;
			}

			&:hover {
				color : $neutral;
			}
		}

		&:first-child a {
			padding-left : 0;
		}

		&:last-of-type a:after {
			content: '';
		}
	}
}

// ^5 PAGE – SPLIT COLUMN HERO
//-----------------------------------------------------------------------/

.color-bg {
	h2, p {
		color : #FFF;
	}
}

.text-content ul {
	padding-left : 0;
	clear : both;

	li {
		display : block;
		position : relative;
		padding-left : $pad;

		&:before {
			content:'\2022';
			position : absolute;
			left : 0;
		}
	}

	&.two-col {
		padding-bottom : $pad*2;
		li {
			@include respond-to(small){
				display : inline-block;
				width : 49%;
				margin-right: -4px;
			}
		}
	}
}

// ^6 PAGE – TEAM / CONTACT
//-----------------------------------------------------------------------/

.staff-biog p:last-of-type a,
.contact-details .textwrap + p a {
	color : #000;
	font-size : 1.2em;
	@include transition();
	border-bottom : none;

	i {
		display : inline-block;
		padding : 0.25em;
		margin-left : 0.5em;
		background : $secondary;
		color : #FFF;
		@include transition();
	}

	&:hover {
		color : $secondary;
		opacity: 1;

		i {
			background : $neutral;
		}
	}
}

.contact-details p:last-of-type a {
	color : #FFF;
	i {
		background : $primary;
	}

	&:hover {
		color : $primary;

		i {
			background : $neutral;
			//color : $secondary;
		}
	}
}


.contact-details {

	h3 {
		margin-bottom : $pad;
	}

	p {
		margin-bottom : 0;
	}
}

// ^7 PAGE – AIRCRAFT (Portfolio)
//-----------------------------------------------------------------------/

//^7a Jets
.portfolio {
	.textwrap p {
		color : #000;
	}

	ul {
		padding : 0;
		li {
			display : block;
		}
	}
}

//^7b Choppers
.chopper-spec {
	h3 {
		color : #FFF;
		margin : 0 0 1em 0;
	}

	p {
		margin : 0;
		color : #FFF;
	}
}

// ^7 NEWS
//-----------------------------------------------------------------------/

.news-excerpt > a {

	h3 {
		color : $primary;
	}

	.inner p {
		color : #000;
		font-size : 1.1em;
		line-height : 1.4em;
	}

	span {
		color : $secondary;
	}
}

.sidebar {
	.rss-feed a {
		border-bottom : none;

		i {
			padding : 0.2em 0.3em;
			font-size : 1.5em;
			margin-right : $pad/2;
			background : $neutral-light;
		}
	}

	li {
		padding-left: 0 !important;
		line-height: 2em;

		&:before {
			display : none;
		}

		a {
			border-bottom : none;
			font-size : 1.1em;
		}
	}
}